$('.modal').modal("hide") ;
$("form").trigger("reset");
toastr.info('Successfully', 'Added a folder');
var id = "<%= @folder.id %>" ;

$("#folders").prepend("<div id=\"folder_<%=@folder.id%>\"> <%= escape_javascript(      render(:partial => 'shared/folder', :locals => {:folder => @folder })      ) %>  </div>");
