$('.modal').modal("hide") ;
$("form").trigger("reset");var form_enabled = false;
toastr.info('Successfully', 'Added a folder');
var id = "<%= @folder.id %>" ;

$("#no_folders_found").html("");
$("#folders").prepend("<div id=\"folder_<%=@folder.id%>\"> <%= escape_javascript(      render(:partial => 'shared/folder', :locals => {:folder => @folder })      ) %>  </div>");
