	<%= simple_form_for @folder , :url => create_folder_path( @parent_type , @parent_id ) , :method => "post" , :input_html=> { :class => "form-group has-feedback lg no-label " } do |f| %>
	  <%= f.input :name , :input_html => { :class => ""  , "data-bv-notempty" => "true"} %>
	   <div class="text-center">
	  	<%= f.button :submit , "Create", :class => "btn btn-primary"%>
	  </div>
	<% end %>
