
<%for bucket in buckets%>
    <div id="bucket_<%=bucket.id%>">
		<%= render(:partial => 'shared/bucket', :locals => {:bucket => bucket } )%>
	</div>
 <%end%>

<div class = "stick-paginate">
	<%= paginate buckets  , :remote => true %>
</div>