
<%for bucket in buckets%>
    <div id="bucket_<%=bucket.id%>">
		<%= render(:partial => 'shared/bucket', :locals => {:bucket => bucket } )%>
	</div>
 <%end%>


<%= paginate buckets  , :remote => true %>
