
<%if buckets.size > 0%>
<%for bucket in buckets%>
    <div id="bucket_<%=bucket.id%>">
		<%= render(:partial => 'shared/bucket', :locals => {:bucket => bucket } )%>
	</div>
 <%end%>

<div class = "stick-paginate">
	<%= paginate buckets  , :remote => true %>
</div>
<%else%>
	<div class ="text-center media-heading">
		<h1  style="font-size:60px; margin:250px"><i class="fa fa-search"></i> Nothing Found! </h1>
	</div> 

<%end%>