<%for comment in comments%>
	<li class="media">
		<%= link_to (image_tag avatar_url(comment.user) , :class => "media-object img-circle") , "#" , :class => "pull-left" %>
		<%= render(:partial => 'shared/comment', :locals => {:comment => comment } )%>
	</li>
<%end%>


