<div class="row">
<%for course in courses%>
	<div id="course_<%=course.id%>">
		<%= render(:partial => 'shared/course', :locals => {:course => course } )%>
	</div>
<%end%>
</div>
<div class = "stick-paginate">
<%= paginate courses  , :remote => true  %>
</div>