<div class="col-sm-4">
	<div class="the-box no-border">
		<div class="media user-card-sm">
		<div class="media-body">
			<h4 class="media-heading">
				<%= link_to( course.name , course_content_path(course.id)  ) %>
			</h4>					
			<span class="course-coding"><%= course.code %></span>
			<br>
			<span class="small text-muted">
					<b>College:</b>
					<%=course.college_branch_pair.college.name%>
			</span>
    	</div>
		<div class="right-button">
			<button class="btn btn-xs btn-success">
				<i class="fa fa-plus"> Enroll</i>
			</button>
			<p></p>
			<button class="btn btn-xs btn-warning">
				<i class="fa fa-heart fa-xs"> Favourite</i>
			</button>
			</div>	
		</div>
	</div>
</div>