<div class="row">
	  <%for document in documents%>
			<%= render(:partial => 'shared/document', :locals => {:document => document } )%>
	  <%end%>
</div>

<%= paginate documents, :param_name => "document_page"  , :remote => true %>
