<!-- bucket -->
<div class="media-body">
	  <p></p>
	  <h4 class="media-heading">
	  	<%= link_to( document.name , document_details_path(document.id)  ) %>
	  </h4>
	  <p></p>

	  Created At:
	  <span class="text-muted">
	  		<%= document.created_at %>
	  </span>
	  <p><p>
	  Updated At: 
	  <span class="text-muted">
	  		<%= document.updated_at %>
	  </span>
	  <p><p>


</div>

