<% flash.each do |type, message| %>
	<% type = bootstrap_class_for(type.to_sym) %>
	<%logger.ap "Flash type class : #{type}"%>
	<div class="alert <%= type %> fade in alert-dismissable">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	  <%= message %>
	</div>
<% end %>
