
<div class="class">
  <%for folder in folders%>
		<%= render(:partial => 'shared/folder', :locals => {:folder => folder } )%>				  
  <%end%>
</div>
<%= link_to("Make A Folder" , new_folder_path( parent_type , parent_id) , :class => "btn btn-success btn-perspective") %></li>


<%= paginate folders, :param_name => "folder_page"  , :remote => true %>
