<!-- bucket -->
<div class="media-body">
	  <p></p>
	  <h4 class="media-heading">
	  	<%= link_to( folder.name , folder_content_path(folder.id)  ) %>
	  </h4>
	  <p></p>

	  <%if folder.bucket.uploader == current_user%>
		  <%= link_to("Delete" , destroy_folder_path(folder.id) , :method => :delete , :class => "btn btn-danger") %>
	  <%end%>

	  Created At:
	  <span class="text-muted">
	  		<%= folder.created_at %>
	  </span>
	  <p><p>
	  Updated At: 
	  <span class="text-muted">
	  		<%= folder.updated_at %>
	  </span>
	  <p><p>


</div>

