<li class="media">
	<%= simple_form_for CommentResponse.new , :url => create_comment_response_path(comment.id)  , :input_html=> { :class => "form-group has-feedback lg no-label " } , :remote => true , :method => :post do |f| %>
		<h4 class="small-heading more-margin-bottom">WANT TO ANSWER?</h4>
	  	<%= f.input :message , :input_html => { :class => "form-control input-lg rounded bold-border no-resize"}  , :style => "height: 200px;" , :placeholder => "If you have any answer/comment to this question please post here..."  , "data-bv-notempty" => "true"%>
	  	<div class="text-center form-group">
	  		<%= f.button :submit , "Post Answer", :class => "btn btn-primary"%>
	  	</div>
	<% end %>
</li>

<script>
    $(".new_comment").validate({
          rules: {
            'comment[message]': "required"
          },
          messages: {
            'comment[message]': "Please leave non-empty message"
          }
    });
</script>