<div class ="text-center">
<%= s3_uploader_form callback_url: create_document_path(parent_type , parent_id) ,
					 id: "s3_uploader",
					 callback_param: "file",
					 callback_method: "POST",
					 acl: "private" , 
					 # acl: "public-read-write" , 
					 data: {:parent_type => parent_type , :parent_id => parent_id } ,
					 max_file_size: 5.megabytes do %>
<%= file_field_tag :file, multiple: true %>

<% end %>

</div>

<div id="uploads_container"></div>
<button id="submit_upload" class="btn btn-primary text-centre">Upload</button>
<script id="template-upload" type="text/x-tmpl">
	<div id="upload_{%=o.unique_id%}" class="upload">
		<h5>{%=o.name%}</h5>
		<div class="progress progress-striped active">
			<div class="bar" style="width: 0%"></div>
		</div>
	</div>
</script>

		