<div class="panel with-nav-tabs panel-success panel-square panel-no-border">
<div class="panel-heading">     
		<div class="right-content">
			<div class="btn-group">
			</div>
		</div><!-- /.right-content -->
		<ul class="nav nav-tabs">
			<%= content_tag(:li , link_to(fa_icon("search", text: "Results"), "#" ), :class=>"active" )%>
		</ul>
</div>
</div>



