<div class="row">
  <%for user in users%>  
		<%= render(:partial => 'shared/user', :locals => {:user => user } )%>
  <%end%>
</div>
<div class = "stick-paginate">
<%= paginate users , :remote => true %>
</div>