<!-- bucket -->
<div class="media-body">
	  <p></p>
	  <h4 class="media-heading">
	  	<%= link_to( user.email , "#no_profile_yet"  ) %>
	  </h4>
	  <p></p>
      <span class="label label-danger span-sidebar">Reps:</span>
	  <b>120</b>
	  
</div>

