$('.modal').modal("hide") ;
$("form").trigger("reset");
toastr.info('Successfully', 'Added bucket!');
var id = "<%= @bucket.id %>" ;

var main_upload = "<%= @main_upload %>"

if((main_upload == "true") || (main_upload == true) ){

}else{
	$("#buckets").prepend("<div id=\"bucket_<%=@bucket.id%>\"> <%= escape_javascript(      render(:partial => 'shared/bucket', :locals => {:bucket => @bucket })      ) %>  </div>");
}

