

<%= render(:partial => 'shared/bucket_navbar' , :locals => {:bucket => @bucket }) %> 


Folders:
<div id="folders">
<%= render(:partial => 'shared/folders', :locals => {:folders => @folders  , :parent_type => "bucket" , :parent_id => @bucket.id} )%>
</div>

<br>
Documents:
<div id="documents">
<%= render(:partial => 'shared/documents', :locals => {:documents => @documents , :parent_type => "bucket" , :parent_id => @bucket.id} )%>
</div>