
<%= render(:partial => 'shared/college_navbar' , :locals => {:college => @college , :branch => @branch }) %> 

<div id="users">
	<%= render(:partial => 'shared/users' , :locals => {:users => @users }) %> 
</div>