
<%= render(:partial => 'shared/college_navbar' , :locals => {:college => @college , :branch => @branch }) %> 

<div id="buckets">
	<%= render(:partial => 'shared/buckets', :locals => {:buckets => @buckets } )%>
</div>