
<%= render(:partial => 'shared/college_navbar' , :locals => {:college => @college , :branch => @branch }) %> 

<div id="courses">
	<%= render(:partial => 'shared/courses' , :locals => {:courses => @courses }) %> 
</div>