							<!-- BEGIN PROFILE HEADING -->
							<div class="the-box transparent full no-margin profile-heading">
								<div class="right-action">
									<button class="btn btn-warning btn-square btn-xs">Change cover</button>
								</div><!-- /.right-action -->
								<img src="assets/img/photo/wide/img-2.jpg" class="bg-cover" alt="Image">
								<img src="assets/img/avatar/avatar-1.jpg" class="avatar" alt="Avatar">
								<div class="profile-info">
									<p class="user-name">Paris Hawker</p>
									<p class="text-muted">Hometown : <a href="social-my-profile.html#fakelink">Yogyakarta, Indonesia</a></p>
									<p class="text-muted">Work at <a href="social-my-profile.html#fakelink">Envato</a></p>
									<p class="right-button">
									<button class="btn btn-primary btn-sm">Edit profile</button>
									<button class="btn btn-danger btn-sm"><i class="fa fa-envelope"></i></button>
									</p>
								</div><!-- /.profile-info -->
							</div><!-- /.the-box .transparent .profile-heading -->
							<!-- END PROFILE HEADING -->
							
							<div class="panel with-nav-tabs panel-primary panel-square panel-no-border">
							  <div class="panel-heading">
								<ul class="nav nav-tabs">
									<li class="active"><a href="social-my-profile.html#panel-home" data-toggle="tab"><i class="fa fa-home"></i></a></li>
									<li class=""><a href="social-my-profile.html#panel-about" data-toggle="tab"><i class="fa fa-user"></i></a></li>
									<li class=""><a href="social-my-profile.html#panel-friend" data-toggle="tab"><i class="fa fa-users"></i></a></li>
								</ul>
							  </div>
								<div id="panel-collapse-1" class="collapse in">
									<div class="panel-body">
										<div class="tab-content">
											<div class="tab-pane fade active in" id="panel-home">
												<h4 class="small-heading more-margin-bottom">MY ACTIVITIES</h4>
												<ul class="media-list media-xs">
												  <li class="media">
													<a class="pull-left" href="social-my-profile.html#fakelink">
													  <img class="media-object img-circle" src="assets/img/avatar/avatar-1.jpg" alt="Avatar">
													</a>
													<div class="media-body">
													  <h4 class="media-heading"><a href="social-my-profile.html#fakelink">Wrote a post</a></h4>
													  <p class="date"><small>2 hours ago</small></p>
													  <p class="small">
													  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
													  </p>
													</div>
												  </li>
												  <li class="media">
													<a class="pull-left" href="social-my-profile.html#fakelink">
													  <img class="media-object img-circle" src="assets/img/avatar/avatar-1.jpg" alt="Avatar">
													</a>
													<div class="media-body">
													  <h4 class="media-heading"><a href="social-my-profile.html#fakelink">Rate a story</a></h4>
													  <p class="date"><small>5 hours ago</small></p>
													  <p><strong><a href="social-my-profile.html#fakelink">Consectetuer adipiscing elit, sed diam nonummy nibh</a></strong></p>
													  <p class="small">
													  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
													  </p>
													  <p class="text-muted small">By Thomas White</p>
													  <p>
														<i class="fa fa-star text-warning"></i>
														<i class="fa fa-star text-warning"></i>
														<i class="fa fa-star text-warning"></i>
														<i class="fa fa-star text-warning"></i>
														<i class="fa fa-star"></i>
													  </p>
													</div>
												  </li>
												  <li class="media">
													<a class="pull-left" href="social-my-profile.html#fakelink">
													  <img class="media-object img-circle" src="assets/img/avatar/avatar-1.jpg" alt="Avatar">
													</a>
													<div class="media-body">
													  <h4 class="media-heading"><a href="social-my-profile.html#fakelink">Updated a quote</a></h4>
													  <p class="date"><small>Yesterday</small></p>
													  <blockquote>
													  Wong urip kui mung mampir ngombe dab, rasah kemaki!
													  <small>at <a href="social-my-profile.html#fakelink">Yogyakarta, Indonesia</a></small>
													  </blockquote>
													</div>
												  </li>
												  <li class="media">
													<a class="pull-left" href="social-my-profile.html#fakelink">
													  <img class="media-object img-circle" src="assets/img/avatar/avatar-1.jpg" alt="Avatar">
													</a>
													<div class="media-body">
													  <h4 class="media-heading"><a href="social-my-profile.html#fakelink">Commented a photo</a></h4>
													  <p class="date"><small>2 hours ago</small></p>
													  <div class="row">
														<div class="col-sm-6">
														<img src="assets/img/photo/medium/img-2.jpg" class="img-responsive thumbnail" alt="Image">
														</div><!-- /.col-sm-6 -->
													  </div><!-- /.row -->
													  <p class="small">
													  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy!
													  </p>
													</div>
												  </li>
												  <li class="media">
													<a class="pull-left" href="social-my-profile.html#fakelink">
													  <img class="media-object img-circle" src="assets/img/avatar/avatar-1.jpg" alt="Avatar">
													</a>
													<div class="media-body">
													  <h4 class="media-heading"><a href="social-my-profile.html#fakelink">Added 15 friends</a></h4>
													  <p class="date"><small>May 01, 2014</small></p>
													  <p>
														<a href="social-my-profile.html#fakelink"><img data-toggle="tooltip" title="Doina Slaivici" src="assets/img/avatar/avatar-3.jpg" class="social-avatar xs" alt="Avatar"></a>
														<a href="social-my-profile.html#fakelink"><img data-toggle="tooltip" title="Harry Nichols" src="assets/img/avatar/avatar-4.jpg" class="social-avatar xs" alt="Avatar"></a>
														<a href="social-my-profile.html#fakelink"><img data-toggle="tooltip" title="Mihaela Cihac" src="assets/img/avatar/avatar-5.jpg" class="social-avatar xs" alt="Avatar"></a>
														<a href="social-my-profile.html#fakelink"><img data-toggle="tooltip" title="Harold Chavez" src="assets/img/avatar/avatar-6.jpg" class="social-avatar xs" alt="Avatar"></a>
														<a href="social-my-profile.html#fakelink"><img data-toggle="tooltip" title="Elizabeth Owens" src="assets/img/avatar/avatar-7.jpg" class="social-avatar xs" alt="Avatar"></a>
														<a href="social-my-profile.html#fakelink"><img data-toggle="tooltip" title="Frank Oliver" src="assets/img/avatar/avatar-8.jpg" class="social-avatar xs" alt="Avatar"></a>
														<a href="social-my-profile.html#fakelink"><img data-toggle="tooltip" title="Mya Weastell" src="assets/img/avatar/avatar-9.jpg" class="social-avatar xs" alt="Avatar"></a>
														<a href="social-my-profile.html#fakelink"><img data-toggle="tooltip" title="Carl Rodriguez" src="assets/img/avatar/avatar-10.jpg" class="social-avatar xs" alt="Avatar"></a>
														<a href="social-my-profile.html#fakelink"><img data-toggle="tooltip" title="" src="assets/img/avatar/avatar-11.jpg" class="social-avatar xs" alt="Avatar" data-original-title="Nikita Carter"></a>
														<a href="social-my-profile.html#fakelink"><img data-toggle="tooltip" title="Craig Dixon" src="assets/img/avatar/avatar-12.jpg" class="social-avatar xs" alt="Avatar"></a>
														<a href="social-my-profile.html#fakelink"><img data-toggle="tooltip" title="Mikayla King" src="assets/img/avatar/avatar-13.jpg" class="social-avatar xs" alt="Avatar"></a>
														<a href="social-my-profile.html#fakelink"><img data-toggle="tooltip" title="Richard Dixon" src="assets/img/avatar/avatar-14.jpg" class="social-avatar xs" alt="Avatar"></a>
														<a href="social-my-profile.html#fakelink"><img data-toggle="tooltip" title="Brenda Fuller" src="assets/img/avatar/avatar-15.jpg" class="social-avatar xs" alt="Avatar"></a>
														<a href="social-my-profile.html#fakelink"><img data-toggle="tooltip" title="Ryan Ortega" src="assets/img/avatar/avatar-16.jpg" class="social-avatar xs" alt="Avatar"></a>
														<a href="social-my-profile.html#fakelink"><img data-toggle="tooltip" title="Jessica Gutierrez" src="assets/img/avatar/avatar-17.jpg" class="social-avatar xs" alt="Avatar"></a>
													  </p>
													</div>
												  </li>
												</ul>
											</div>
											<div class="tab-pane fade" id="panel-about">
												<h4 class="small-heading more-margin-bottom">MY PROFILE</h4>
												<form class="form-horizontal" role="form">
												<div class="form-group">
													<label class="col-sm-2 control-label">Full name</label>
													<div class="col-sm-10">
													  <p class="form-control-static">Paris Hawker</p>
													</div>
												</div><!-- /.form-group -->
												<div class="form-group">
													<label class="col-sm-2 control-label">Email</label>
													<div class="col-sm-10">
													  <p class="form-control-static">email@example.com</p>
													</div>
												</div><!-- /.form-group -->
												<div class="form-group">
													<label class="col-sm-2 control-label">Username</label>
													<div class="col-sm-10">
													  <p class="form-control-static">@parishawker</p>
													</div>
												</div><!-- /.form-group -->
												<div class="form-group">
													<label class="col-sm-2 control-label">Hometown</label>
													<div class="col-sm-10">
													  <p class="form-control-static"><a href="social-my-profile.html#fakelink">Boyolali, Indonesia</a></p>
													</div>
												</div><!-- /.form-group -->
												<div class="form-group">
													<label class="col-sm-2 control-label">Current city</label>
													<div class="col-sm-10">
													  <p class="form-control-static"><a href="social-my-profile.html#fakelink">Yogyakarta, Indonesia</a></p>
													</div>
												</div><!-- /.form-group -->
												<div class="form-group">
													<label class="col-sm-2 control-label">About me</label>
													<div class="col-sm-10">
													  <p class="form-control-static">
														Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
													  </p>
													</div>
												</div><!-- /.form-group -->
												</form>
											</div><!-- /#panel-about -->
											<div class="tab-pane fade" id="panel-friend">
												<h4 class="small-heading more-margin-bottom">ALL FRIEND</h4>
												<div class="row">
													<div class="col-sm-6">
														<!-- BEGIN USER CARD LONG -->
														<div class="the-box bg-success no-border">
															<div class="media user-card-sm">
															  <a class="pull-left" href="social-my-profile.html#fakelink">
																<img class="media-object img-circle" src="assets/img/avatar/avatar-7.jpg" alt="Avatar">
															  </a>
															  <div class="media-body">
																<h4 class="media-heading">Elizabeth Owens</h4>
																<p class="text-success">@elizabethowens</p>
															  </div>
															  <div class="right-button">
																<button class="btn btn-success"><i class="fa fa-envelope"></i></button>
															  </div><!-- /.right-button -->
															</div>
														</div><!-- /.the-box .no-border -->
														<!-- BEGIN USER CARD LONG -->
													</div><!-- /.col-sm-6 -->
													<div class="col-sm-6">
														<!-- BEGIN USER CARD LONG -->
														<div class="the-box bg-success no-border">
															<div class="media user-card-sm">
															  <a class="pull-left" href="social-my-profile.html#fakelink">
																<img class="media-object img-circle" src="assets/img/avatar/avatar-2.jpg" alt="Avatar">
															  </a>
															  <div class="media-body">
																<h4 class="media-heading">Thomas White</h4>
																<p class="text-success">@thomaswhite</p>
															  </div>
															  <div class="right-button">
																<button class="btn btn-success"><i class="fa fa-envelope"></i></button>
															  </div><!-- /.right-button -->
															</div>
														</div><!-- /.the-box .no-border -->
														<!-- BEGIN USER CARD LONG -->
													</div><!-- /.col-sm-6 -->
													<div class="col-sm-6">
														<!-- BEGIN USER CARD LONG -->
														<div class="the-box bg-success no-border">
															<div class="media user-card-sm">
															  <a class="pull-left" href="social-my-profile.html#fakelink">
																<img class="media-object img-circle" src="assets/img/avatar/avatar-3.jpg" alt="Avatar">
															  </a>
															  <div class="media-body">
																<h4 class="media-heading">Doina Slaivici</h4>
																<p class="text-success">@doinaslaivici</p>
															  </div>
															  <div class="right-button">
																<button class="btn btn-success"><i class="fa fa-envelope"></i></button>
															  </div><!-- /.right-button -->
															</div>
														</div><!-- /.the-box .no-border -->
														<!-- BEGIN USER CARD LONG -->
													</div><!-- /.col-sm-6 -->
													<div class="col-sm-6">
														<!-- BEGIN USER CARD LONG -->
														<div class="the-box bg-success no-border">
															<div class="media user-card-sm">
															  <a class="pull-left" href="social-my-profile.html#fakelink">
																<img class="media-object img-circle" src="assets/img/avatar/avatar-4.jpg" alt="Avatar">
															  </a>
															  <div class="media-body">
																<h4 class="media-heading">Harry Nichols</h4>
																<p class="text-success">@harrynichols</p>
															  </div>
															  <div class="right-button">
																<button class="btn btn-success"><i class="fa fa-envelope"></i></button>
															  </div><!-- /.right-button -->
															</div>
														</div><!-- /.the-box .no-border -->
														<!-- BEGIN USER CARD LONG -->
													</div><!-- /.col-sm-6 -->
													<div class="col-sm-6">
														<!-- BEGIN USER CARD LONG -->
														<div class="the-box bg-success no-border">
															<div class="media user-card-sm">
															  <a class="pull-left" href="social-my-profile.html#fakelink">
																<img class="media-object img-circle" src="assets/img/avatar/avatar-5.jpg" alt="Avatar">
															  </a>
															  <div class="media-body">
																<h4 class="media-heading">Mihaela Cihac</h4>
																<p class="text-success">@mihaelacihac</p>
															  </div>
															  <div class="right-button">
																<button class="btn btn-success"><i class="fa fa-envelope"></i></button>
															  </div><!-- /.right-button -->
															</div>
														</div><!-- /.the-box .no-border -->
														<!-- BEGIN USER CARD LONG -->
													</div><!-- /.col-sm-6 -->
													<div class="col-sm-6">
														<!-- BEGIN USER CARD LONG -->
														<div class="the-box bg-success no-border">
															<div class="media user-card-sm">
															  <a class="pull-left" href="social-my-profile.html#fakelink">
																<img class="media-object img-circle" src="assets/img/avatar/avatar-5.jpg" alt="Avatar">
															  </a>
															  <div class="media-body">
																<h4 class="media-heading">Harold Chavez</h4>
																<p class="text-success">@haroldchavez</p>
															  </div>
															  <div class="right-button">
																<button class="btn btn-success"><i class="fa fa-envelope"></i></button>
															  </div><!-- /.right-button -->
															</div>
														</div><!-- /.the-box .no-border -->
														<!-- BEGIN USER CARD LONG -->
													</div><!-- /.col-sm-6 -->
													<div class="col-sm-6">
														<!-- BEGIN USER CARD LONG -->
														<div class="the-box bg-success no-border">
															<div class="media user-card-sm">
															  <a class="pull-left" href="social-my-profile.html#fakelink">
																<img class="media-object img-circle" src="assets/img/avatar/avatar-8.jpg" alt="Avatar">
															  </a>
															  <div class="media-body">
																<h4 class="media-heading">Frank Oliver</h4>
																<p class="text-success">@frankoliver</p>
															  </div>
															  <div class="right-button">
																<button class="btn btn-success"><i class="fa fa-envelope"></i></button>
															  </div><!-- /.right-button -->
															</div>
														</div><!-- /.the-box .no-border -->
														<!-- BEGIN USER CARD LONG -->
													</div><!-- /.col-sm-6 -->
													<div class="col-sm-6">
														<!-- BEGIN USER CARD LONG -->
														<div class="the-box bg-success no-border">
															<div class="media user-card-sm">
															  <a class="pull-left" href="social-my-profile.html#fakelink">
																<img class="media-object img-circle" src="assets/img/avatar/avatar-9.jpg" alt="Avatar">
															  </a>
															  <div class="media-body">
																<h4 class="media-heading">Mya Weastell</h4>
																<p class="text-success">@myaweastell</p>
															  </div>
															  <div class="right-button">
																<button class="btn btn-success"><i class="fa fa-envelope"></i></button>
															  </div><!-- /.right-button -->
															</div>
														</div><!-- /.the-box .no-border -->
														<!-- BEGIN USER CARD LONG -->
													</div><!-- /.col-sm-6 -->
													<div class="col-sm-6">
														<!-- BEGIN USER CARD LONG -->
														<div class="the-box bg-success no-border">
															<div class="media user-card-sm">
															  <a class="pull-left" href="social-my-profile.html#fakelink">
																<img class="media-object img-circle" src="assets/img/avatar/avatar-10.jpg" alt="Avatar">
															  </a>
															  <div class="media-body">
																<h4 class="media-heading">Carl Rodriguez</h4>
																<p class="text-success">@carlrodriguez</p>
															  </div>
															  <div class="right-button">
																<button class="btn btn-success"><i class="fa fa-envelope"></i></button>
															  </div><!-- /.right-button -->
															</div>
														</div><!-- /.the-box .no-border -->
														<!-- BEGIN USER CARD LONG -->
													</div><!-- /.col-sm-6 -->
													<div class="col-sm-6">
														<!-- BEGIN USER CARD LONG -->
														<div class="the-box bg-success no-border">
															<div class="media user-card-sm">
															  <a class="pull-left" href="social-my-profile.html#fakelink">
																<img class="media-object img-circle" src="assets/img/avatar/avatar-11.jpg" alt="Avatar">
															  </a>
															  <div class="media-body">
																<h4 class="media-heading">Nikita Carter</h4>
																<p class="text-success">@nikitacarter</p>
															  </div>
															  <div class="right-button">
																<button class="btn btn-success"><i class="fa fa-envelope"></i></button>
															  </div><!-- /.right-button -->
															</div>
														</div><!-- /.the-box .no-border -->
														<!-- BEGIN USER CARD LONG -->
													</div><!-- /.col-sm-6 -->
													<div class="col-sm-6">
														<!-- BEGIN USER CARD LONG -->
														<div class="the-box bg-success no-border">
															<div class="media user-card-sm">
															  <a class="pull-left" href="social-my-profile.html#fakelink">
																<img class="media-object img-circle" src="assets/img/avatar/avatar-12.jpg" alt="Avatar">
															  </a>
															  <div class="media-body">
																<h4 class="media-heading">Craig Dixon</h4>
																<p class="text-success">@craigdixon</p>
															  </div>
															  <div class="right-button">
																<button class="btn btn-success"><i class="fa fa-envelope"></i></button>
															  </div><!-- /.right-button -->
															</div>
														</div><!-- /.the-box .no-border -->
														<!-- BEGIN USER CARD LONG -->
													</div><!-- /.col-sm-6 -->
													<div class="col-sm-6">
														<!-- BEGIN USER CARD LONG -->
														<div class="the-box bg-success no-border">
															<div class="media user-card-sm">
															  <a class="pull-left" href="social-my-profile.html#fakelink">
																<img class="media-object img-circle" src="assets/img/avatar/avatar-13.jpg" alt="Avatar">
															  </a>
															  <div class="media-body">
																<h4 class="media-heading">Mikayla King</h4>
																<p class="text-success">@mikaylaking</p>
															  </div>
															  <div class="right-button">
																<button class="btn btn-success"><i class="fa fa-envelope"></i></button>
															  </div><!-- /.right-button -->
															</div>
														</div><!-- /.the-box .no-border -->
														<!-- BEGIN USER CARD LONG -->
													</div><!-- /.col-sm-6 -->
												</div><!-- /.row -->
											</div>
										</div><!-- /.tab-content -->
									</div><!-- /.panel-body -->
								</div><!-- /.collapse in -->
							</div><!-- /.panel .panel-success -->
							